.container-1 {
    font-family: monospace;
    background-color: rgba(21, 35, 186, 0.884);
    color: white;
    display: flex;
    flex: auto;
}

 ul   {
   list-style-type: none;
}

a {
    text-decoration: none; 
    color: white;
}

.container-1 {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    gap: 15px;
    display: flex;
    flex-direction: row;
    
}

.subcontainer {
    font-family: monospace;
    background-color: rgba(21, 35, 186, 0.884);
    color: white; 
    padding: 8px;
}

.image {
    background-color: grey;
    padding: 8px;
    display: flex;
    margin: 20px;
}

h2 {
    flex-direction: row;
}