* {
    margin: 0;
    padding: 0;
}


.container-1 {
    font-family: monospace;
    background-color: rgba(21, 35, 186, 0.884);
    color: white;
    display: flex;
    flex: auto;
}

 ul   {
   list-style-type: none;
}

a {
    text-decoration: none; 
    color: white;
}

.container-1 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    gap: 15px;
    display: flex;
    flex-direction: row;
    
}

.subcontainer {
    display: flex;
    height: 88%;
    align-items: center;
    font-family: monospace;
    background-color: rgba(21, 35, 186, 0.884);
    color: white; 
    padding: 20px;
}

.row {
    flex-basis: 50%;
}

.picture h5 {
    background-color: grey;
    height: 100px;
    width: 300px;
    text-align: center;
    line-height: 9;
}

.row p {
    margin-top: 10px;
}

button {
    width: 180px;
    font-size: 13px;
    background: lightblue;
    border: 0;
    border-radius: 20px;
    outline: none;
    padding: 12px 0;
    margin-top: 20px;
}

.some-random-info {
    text-align: center;
    margin-top: 20px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 60px;
}

.pog1 {
    padding: 20px;
    width: 100px;
    height: 100px;
}